.hero {
    position: relative;
}

/* .hero-img img {
    block-size: 90vh;
    aspect-ratio: 2/1;
} */
.nav-drop,
#mb-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
}
#mb-nav {
    /* display: grid; */
    top: 110%;
    right: -5%;
    animation: nav-enter .5s;
    width: 100vw;
}
#mb-nav.search > * {
    display: none;
}
#mb-nav.search form {
    display: grid;
}
#mb-nav:not(.search) form {
    display: none;
}

@keyframes nav-enter {
    0% {right: -100%}
    100% {right: -5%}
}
.nav-drop.show, #mb-nav.show {display: grid;}

.btn {
    box-shadow: 5px 5px 1px rgba(22, 8, 8, 0.5);   
}
.btn.with-drop {
    box-shadow: 5px 5px 0px rgba(3, 7, 18, 0.863);
    transition: all .3s ease-in-out;
}
.btn.with-drop:hover {
    box-shadow: 7px 7px 0px rgba(3, 7, 18, 0.863);
}
.institution-card {
    display: grid;
}
.institution-card .img-wrapper {
    display: grid;
    inline-size: 8vw;
}
.institution-card .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.horizontal-scroller {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 0.15fr 6fr 0.15fr; */
    gap: 1rem;
    align-items: center;
}

.horizontal-scroller .scroll-area {
    padding: .5rem;
    width: 87vw;
    overflow: hidden;
    overflow-x: auto;
    justify-items: flex-start;
    justify-content: flex-start;

    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroller .scroll-area::-webkit-scrollbar {
    display: none;
}
.horizontal-scroller .scroll-area > * {
    scroll-snap-align: start;
}


.product-card,
.business-card {
    inline-size: 15vw;
}

.product-card img:last-of-type{
    display: none;
}
.product-card:hover img:last-of-type{
    display: grid;
}

.product-card:hover img:first-of-type{
    display: none;
}

.business_details .preview-img img,
.product_details .preview-img img,
.product-card .img-wrapper img,
.business-card .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product_details {
    margin-bottom: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.product_details .img-list {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-content: flex-start;
    justify-content: flex-start;
}

.product_details .img-list img {
    aspect-ratio: 1;
    object-fit: cover;
    height: 10vh;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}

.product_details .img-list img.active {
    border-color: #030712;
    padding: 2px;
}

.business_details {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    justify-content: flex-start;
}


.auth-area {
    box-shadow: 10px 10px 0px rgba(3, 7, 18, 0.863);
    transition: all .3s ease-in-out;
}
form > p {
    display: grid;
    gap: .5rem;
}

form > p:has(select),
form > p:has(input[type="checkbox"]),
form > p:has(input[type="file"]) {
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
}
form > p:has(input[type="file"]) a {
    display: none;
}

form select {
    border: 1px solid #030712;
    padding: .25rem .5rem;
}


form input:not([type="submit"]):not([type="file"]), 
form textarea{
    border: 1px solid #030712;
    padding: .25rem .5rem;
}

form input[type="submit"] {
    box-shadow: none;
    transition: all .3s ease-in-out;
}
form input[type="submit"]:hover {
    box-shadow: none;
}

nav form input {
    border: none;
    border-color: transparent;
    outline: transparent;
}
.cart-product-card {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 1rem;
    box-shadow: 1px 2px 2px rgba(68, 68, 68, 0.863);
}

.cart-product-card .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    box-shadow: 1px 2px 2px rgba(26, 25, 25, 0.863);
    animation: modal-enter .3s;
    background-color: white;
}
.modal.show {
    display: grid;
}

@keyframes modal-enter {
    0% {top: -20%;}
    100% {top: 20%;}
}

@media screen and (max-width: 900px) {
    .hero {
        justify-content: center;
        text-align: center;
        gap: 2rem;
        padding-block-start: 3rem;
    }
    .hero .brief {
        justify-items: center;
        text-align: center;
    }
    .institution-card .img-wrapper {
        display: grid;
        inline-size: 15vw;
    }
    .product-card {
        inline-size: 45vw;
    }
    .business-card {
        inline-size: 40vw;
    }
    .horizontal-scroller .business-card {
        inline-size: 45vw;
    }
    .dashboard .business-card {
        inline-size: 30vw;
    }

    .product_details {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product_details .img-list {
        grid-auto-flow: dense;
        grid-template-columns: repeat(4, 1fr);
    }
    .product_details .img-list img {
        height: 15vh;
    }

    .filters {
        width: 90vw;
        overflow: hidden;
        grid-auto-flow: row;
    }
    .filters > div {
        padding-block-end: 1rem;
        padding-inline-end: 1rem;
        width: 90vw;
        overflow-x: auto;
        align-items: flex-start;
    }
    .business_details {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
    }
}