.btn {
    box-shadow: 5px 5px 1px rgba(22, 8, 8, 0.5);   
}
.btn.with-drop {
    box-shadow: 5px 5px 0px rgba(3, 7, 18, 0.863);
    transition: all .3s ease-in-out;
}
.btn.with-drop:hover {
    box-shadow: 7px 7px 0px rgba(3, 7, 18, 0.863);
}
.institution-card {
    display: grid;
}
.institution-card .img-wrapper {
    display: grid;
    inline-size: 8vw;
}
.institution-card .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.horizontal-scroller {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 0.15fr 6fr 0.15fr; */
    gap: 1rem;
    align-items: center;
}

.horizontal-scroller .scroll-area {
    padding: .5rem;
    width: 87vw;
    overflow: hidden;
    overflow-x: auto;
    justify-items: flex-start;
    justify-content: flex-start;

    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroller .scroll-area::-webkit-scrollbar {
    display: none;
}
.horizontal-scroller .scroll-area > * {
    scroll-snap-align: start;
}


.product-card,
.business-card {
    inline-size: 15vw;
}

.business_details .preview-img img,
.product_details .preview-img img,
.product-card .img-wrapper img,
.business-card .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product_details {
    margin-bottom: 2.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: .5fr 1fr;
}

.product_details .img-list {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    align-content: flex-start;
    justify-content: flex-start;
}

.product_details .img-list img {
    aspect-ratio: 1;
    object-fit: cover;
    height: 10vh;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}

.product_details .img-list img.active {
    border-color: #030712;
    padding: 2px;
}

.business_details {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    justify-content: flex-start;
}

@media screen and (max-width: 900px) {
    .institution-card .img-wrapper {
        display: grid;
        inline-size: 15vw;
    }
    .product-card {
        inline-size: 90vw;
    }
    
    .business-card {
        inline-size: 50vw;
    }

    .product_details {
        display: grid;
        grid-template-columns: 1fr;
    }
    .product_details .img-list {
        grid-auto-flow: dense;
        grid-template-columns: repeat(4, 1fr);
    }
    .product_details .img-list img {
        height: 15vh;
    }

    .filters {
        width: 90vw;
        overflow: hidden;
        grid-auto-flow: row;
    }
    .filters > div {
        width: 90vw;
        overflow-x: auto;
        align-items: flex-start;
    }
    .business_details {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
    }
}