{% block content %}
<nav class="w-11/12">
    <a href="{% url 'shop:seller-dashboard' %}" class="py-2 px-4 bg-gray-950 text-slate-50">Orders</a>
    <a href="{% url 'shop:seller-dashboard-businesses' %}" class="py-2 px-4 bg-gray-950 text-slate-50">Businesses</a>
    <a href="{% url 'shop:seller-dashboard-products' %}" class="py-2 px-4 bg-gray-950 text-slate-50">Products</a>
    <a href="{% url 'shop:seller-dashboard-profile' %}" class="py-2 px-4 bg-gray-950 text-slate-50">Profile</a>
</nav>
{% endblock %}