{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'styles/tailcss.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'icons/font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body class="font-mono">
    <header class="grid bg-gray-950 py-2 justify-items-center w-full">
        <nav class="hidden md:grid gap-6 items-center w-11/12" style="grid-template-columns: 2fr 4fr 2fr;">
            <div class="grid gap-4 grid-flow-col justify-start">
                <a href="{% url 'shop:home' %}" class="text-slate-50 text-2xl font-bold">studMart</a>
                <a href="{% url 'shop:business-list' %}" class="py-1 px-2 text-base grid place-items-center bg-slate-50 text-gray-950 ">Businesses</a>
                <a href="{% url 'shop:product-list' %}" class="py-1 px-2 text-base grid place-items-center bg-slate-50 text-gray-950 ">Products</a>
            </div>
            <div class="grid">
                <form action="{% url 'shop:product-list' %}" method="get" class="w-full overflow-hidden rounded grid">
                    <input type="text" class="w-full py-1 px-4 text-gray-950" placeholder="Search for something ... " name="search">
                </form>
            </div>
            <div class="relative grid gap-2 grid-flow-col justify-end">
                {% if request.user.is_authenticated %}
                <a href="{% url 'shop:cart' %}" class="p-4 grid text-slate-50"><i class="fa fa-shopping-cart"></i></a>
                <button id="tab-dropdown-cta" class="p-4 grid text-slate-50"><i class="fa fa-user"></i></button>
                {% else %}
                <a href="{% url 'identity:login' %}" class="py-1 px-2 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">Login</a>
                {% endif %}
                
                <div class="nav-drop gap-2 bg-gray-950 absolute p-4">
                    {% if request.user.is_authenticated %}
                    
                        {% if request.user.account_type == "SELLER" %}
                        <a href="{% url 'shop:seller-dashboard' %}" class="py-1 px-2 text-base grid place-items-center bg-slate-50 text-gray-950 self-center">Dashboard</a>
                        <a href="{% url 'identity:account-type-toggle' %}" class="py-1 px-2 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">View As Buyer</a>
                        {% else %}
                        <a href="{% url 'identity:account-type-toggle' %}" class="py-1 px-2 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">View As Seller</a>
                        {% endif %}
        
                        <a href="{% url 'identity:logout' %}" class="py-1 px-2 text-base grid place-items-center bg-slate-50 text-gray-950 self-center">logout</a>
                    {% else %}
                    <a href="{% url 'identity:login' %}" class="py-1 px-2 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <nav class="md:hidden sm:grid relative gap-6 items-center w-11/12">
            <div class="grid gap-4 grid-flow-col justify-between items-center content-center">
                <a href="{% url 'shop:home' %}" class="text-slate-50 text-2xl font-bold">studMart</a>
                <div class="grid grid-flow-col justify-end">
                    <button id="mb-search-activator" class="p-4 grid text-slate-50"><i class="fa fa-search"></i></button>
                    <button id="mb-nav-activator" class="p-4 grid text-slate-50"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div id="mb-nav" class="grid absolute bg-gray-950 gap-2 p-4">
                <form action="{% url 'shop:product-list' %}" method="get" class="w-full overflow-hidden rounded grid">
                    <input type="text" class="w-full py-2 px-4 text-gray-950" placeholder="Search for something ... " name="search">
                </form>
                <a href="{% url 'shop:business-list' %}" class="py-2 px-4 text-base grid place-items-center bg-slate-50 text-gray-950 ">Businesses</a>
                <a href="{% url 'shop:product-list' %}" class="py-2 px-4 text-base grid place-items-center bg-slate-50 text-gray-950 ">Products</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'shop:cart' %}" class="py-2 px-4 text-base grid gap-2 grid-flow-col place-items-center bg-slate-50 text-gray-950 ">
                        <!-- <i class="fa fa-shopping-cart"></i> -->
                        <span>Cart</span>
                    </a>
                    
                    {% if request.user.account_type == "SELLER" %}
                    <a href="{% url 'shop:seller-dashboard' %}" class="py-2 px-4 text-base grid place-items-center bg-slate-50 text-gray-950 self-center">Dashboard</a>
                    <a href="{% url 'identity:account-type-toggle' %}" class="py-2 px-4 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">View As Buyer</a>
                    {% else %}
                    <a href="{% url 'identity:account-type-toggle' %}" class="py-2 px-4 text-base grid place-items-center self-center bg-slate-50 text-gray-950 ">View As Seller</a>
                    {% endif %}
    
                    <a href="{% url 'identity:logout' %}" class="py-2 px-4 text-base grid place-items-center bg-slate-50 text-gray-950 self-center">logout</a>
                {% else %}
                    <a href="{% url 'identity:login' %}" class="py-2 px-4 text-base grid place-items-center self-center bg-slate-50 text-gray-950   ">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="message error-area grid w-screen py-2 text-center bg-red-900 text-slate-50">
                <p>{{ message }}</p>
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="message success-area grid w-screen py-2 text-center bg-green-900 text-slate-50">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <div class="modal gap-4 py-4 px-6 bg-slate-50">
        <h3 class="text-gray-950 text-lg font-semibold">Please confirm this operation!</h3>
        <form action="" method="POST" class="grid grid-flow-col justify-end gap-2">
            {% csrf_token %}
            <span class="py-2 px-4 text-base grid place-items-center text-slate-50 bg-gray-950 justify-self-start cursor-pointer" id="cancel_cta">Cancel</span>
            <input type="submit" value="Continue" class="py-2 px-4 text-base grid place-items-center text-slate-50 bg-green-600 justify-self-start cursor-pointer">
        </form>
    </div>
    
    {% block content %}
    {% endblock %}

    <footer></footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>